<ion-toolbar>
  <ion-grid *ngIf="appService.currScreenOrientation == 'portrait'">
    <ion-row>
      <ion-col class="ion-text-end">
        <ion-img class="logo-x" src="../../assets/img/logo-main.png"></ion-img>
      </ion-col>
      <ion-col class="ion-text-start">
        <ion-img class="logo-y" src="../../assets/img/logo-yp.png"></ion-img>
        <span>v{{ appService.APP_VERSION }}</span>
      </ion-col>
    </ion-row>
    <ion-row class="actions-bar">
      <ion-col>
        <ion-input #searchInput type="search" placeholder="Enter Keyword" class="search-input" inputmode="search" 
          [(ngModel)]="headerService.searchKey"
          (ionFocus)="goDidFocus()"
          (ionBlur)="goBlur()"
          (ionInput)="searchTyping($event)"></ion-input>
          
        <ion-button #searchBtn (click)="clickedSearch()">
          <ion-icon name="search"></ion-icon>
        </ion-button>
        <ion-button #audioBtn (click)="startAudio()">
          <ion-icon name="mic"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="appService.currScreenOrientation == 'landscape'">
      <ion-row>
        <ion-col size="4">
          <ion-img class="logo-x" src="../../assets/img/logo-main.png"></ion-img>
          <ion-img class="logo-y" src="../../assets/img/logo-yp.png"></ion-img>
          <span>v{{ appService.APP_VERSION }}</span>
        </ion-col>
        <ion-col size="8" class="actions-bar">
          <ion-input #searchInput type="search" placeholder="Enter Keyword" class="search-input" inputmode="search"
            [(ngModel)]="headerService.searchKey"
            (ionFocus)="goDidFocus()"
            (ionBlur)="goBlur()"
            (ionInput)="searchTyping($event)"></ion-input>
          <ion-button #searchBtn (click)="clickedSearch()">
            <ion-icon name="search"></ion-icon>
          </ion-button>
          <ion-button #audioBtn (click)="startAudio()">
            <ion-icon name="mic"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
  </ion-grid>
</ion-toolbar>