ion-header {
    &::after {
        display: none;
    }
}

.navigation {
    --min-height: 0;
    --background: transparent;
    --padding-top: 0;
    --padding-bottom: 0;
    --padding-start: 16px;
    --padding-end: 16px;

    ion-title,
    ion-back-button,
    ion-button {
        min-height: 36px;
        font-weight: bold;
    }

    // .buttons-first-slot {
    //     width: 25%;
    // }

    ion-buttons {
        
        ion-back-button,
        ion-button {
            width: 100%;
            font-size: .8rem;
            text-transform: none;
            --color: #303030;
        }

        ion-back-button {
            --padding-start: 0;
            --icon-margin-end: 3px;
            --icon-font-size: 1rem;
            margin-left: 0 !important;
        }
    }
}

ion-content {
    .entry-parent {

        &.entry-main {
            padding-top: 3px;
        }

        .entry {

            & + .entry {
                
            }

            h6 {
            }

            .details {
                

                li {
                    
                }

                li + li {
                }
    
                fa-icon {
                }
            }

            .tags {

                fa-icon {

                    & + fa-icon {
                    }
                }
            }
        }
    }

    .entry-every-details {

        .ad-img {
          width: 100%; 
          height: auto;
        }

        & + .entry-every-details {
            padding-top: 0;
        }

        .entry-basic {
            padding: 10px;

            .half-buttons {
                right: 10px;

                .icon-yellow {
                    margin-top: 0;
                }
            }

            &.entry-no-padding {
                padding: 0;
            }
        }
    }

    .action-buttons {
        padding-top: 0;
        padding-bottom: 0;

        ion-col {
            padding-top: 0;
            padding-bottom: 0;

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }

            ion-button {
                font-size: .8rem;
                --background: #ffc52a;
                --color: #303030;
                text-transform: none;

                fa-icon {
                    font-size: 1rem;
                }
            }
        }
    }
}

.with-table {
  overflow: hidden;
  
  .content {
    width: auto;
    overflow-x: scroll;

    table {
      td, 
      th {
        min-width: 100px !important;
      }
    }
  }
}