<ion-header [translucent]="true">
  <app-header (didFocus)="goSearch($event)" (audioClicked)="audioClicked($event)"></app-header>
  <ion-toolbar class="navigation">
    <ion-buttons slot="start">
      <ion-back-button [text]="'Back'" defaultHref="home">Back</ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Loading State -->
  <div *ngIf="fetching">
    <div class="ion-padding entry-parent entry-main">
      <div class="entry-section entry-basic entry-larger-pad">
          <h6 class="w-sub"><ion-skeleton-text animated style="width: 100%; height: 20px;"></ion-skeleton-text></h6>
          <h5 class="subtitle"><ion-skeleton-text animated style="width: 100%; height: 15px;"></ion-skeleton-text></h5>
          <ul class="details">
            <li><ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text></li>
            <li><ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text></li>
            <li><ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text></li>
          </ul>
      </div>
    </div>

    <div class="ion-padding action-buttons">
      <ion-row>
        <ion-col>
          <ion-skeleton-text animated style="width: 100%; height: 40px;"></ion-skeleton-text>
        </ion-col>
        <ion-col>
          <ion-skeleton-text animated style="width: 100%; height: 40px;"></ion-skeleton-text>
        </ion-col>
      </ion-row>
    </div>

    <div class="ion-padding entry-parent entry-every-details">
      <div class="entry-section entry-basic">
        <div class="half-text">
            <h6 class="w-sub"><ion-skeleton-text animated style="width: 100%; height: 20px;"></ion-skeleton-text></h6>
            <h5 class="subtitle"><ion-skeleton-text animated style="width: 100%; height: 15px;"></ion-skeleton-text></h5>
        </div>
      </div>
    </div>
    <div class="ion-padding entry-parent entry-every-details">
      <div class="entry-section entry-basic">
        <div class="half-text">
            <h6 class="w-sub"><ion-skeleton-text animated style="width: 100%; height: 20px;"></ion-skeleton-text></h6>
            <h5 class="subtitle"><ion-skeleton-text animated style="width: 100%; height: 15px;"></ion-skeleton-text></h5>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!fetching">
    <div class="ion-padding entry-parent entry-main">
      <div class="entry-section entry-basic entry-larger-pad">
          <h6 class="w-sub" [innerHtml]="post.post_title"></h6>
          <h5 class="subtitle" [innerHtml]="post.term"></h5>
          <ul class="details">
            <li *ngIf="post.display_address"><fa-icon icon="map-marker-alt" slot="start"></fa-icon> {{ unescapeString(post.display_address) }}</li>
            <li *ngIf="post.email1" ><fa-icon icon="envelope" slot="start"></fa-icon> <span (click)="goShareEmail(post.email1)">{{ unescapeString(post.email1) }}</span></li>
            <li *ngIf="post.email2" ><fa-icon icon="envelope" slot="start"></fa-icon> <span (click)="goShareEmail(post.email2)">{{ unescapeString(post.email2) }}</span></li>
            <li *ngIf="post.website_url"><fa-icon icon="globe" slot="start"></fa-icon> <span (click)="goOpenBrowser(post.website_url)">{{ unescapeString(post.website_url) }}</span></li>
          </ul>
      </div>
    </div>

    <div *ngIf="post.social_media && post.social_media.length > 0" class="ion-padding action-buttons social-buttons">
      <ion-row>
        <ion-col *ngIf="post.social_media[0].facebook" size="2" class="ion-text-center">
          <ion-button (click)="goSocialmedia('https://www.facebook.com/' + post.social_media[0].facebook)" class="icon-yellow">
            <i class="fab fa-facebook"></i>
          </ion-button>
        </ion-col>
        <ion-col *ngIf="post.social_media[0].instagram" size="2" class="ion-text-center">
          <ion-button (click)="goSocialmedia('https://www.instagram.com/' + post.social_media[0].instagram)" class="icon-yellow"><i class="fab fa-instagram"></i></ion-button>
        </ion-col>
        <ion-col *ngIf="post.social_media[0].linkedin" size="2" class="ion-text-center">
          <ion-button (click)="goSocialmedia(post.social_media[0].linkedin)" class="icon-yellow"><i class="fab fa-linkedin"></i></ion-button>
        </ion-col>
        <ion-col *ngIf="post.social_media[0].pinterest" size="2" class="ion-text-center">
          <ion-button (click)="goSocialmedia('https://www.pinterest.com/' + post.social_media[0].pinterest)" class="icon-yellow"><i class="fab fa-pinterest"></i></ion-button>
        </ion-col>
        <ion-col *ngIf="post.social_media[0].rss" size="2" class="ion-text-center">
          <ion-button (click)="goSocialmedia(post.social_media[0].rss)" class="icon-yellow"><i class="fas fa-rss"></i></ion-button>
        </ion-col>
        <ion-col *ngIf="post.social_media[0].twitter" size="2" class="ion-text-center">
          <ion-button (click)="goSocialmedia('https://www.twitter.com/' + post.social_media[0].twitter)" class="icon-yellow"><i class="fab fa-twitter"></i></ion-button>
        </ion-col>
        <ion-col *ngIf="post.social_media[0].youtube" size="2" class="ion-text-center">
          <ion-button (click)="goSocialmedia('https://www.youtube.com/' + post.social_media[0].youtube)" class="icon-yellow"><i class="fab fa-youtube"></i></ion-button>
        </ion-col>
      </ion-row>
    </div>
  
    <div class="ion-padding action-buttons" *ngIf="(post.lat && post.lng) && (post.lat != 0 && post.lng != 0)">
      <ion-row>
        <ion-col>
            <ion-button expand="block" (click)="goMap('direction')"><fa-icon icon="directions" slot="start"></fa-icon>&nbsp;&nbsp;Directions</ion-button>
        </ion-col>
        <ion-col>
            <ion-button expand="block" (click)="goMap('view')"><fa-icon icon="map" slot="start"></fa-icon>&nbsp;&nbsp;View Map</ion-button>
        </ion-col>
      </ion-row>
    </div>
  
    <div *ngIf="post.telephone1" class="ion-padding entry-parent entry-every-details">
      <div class="entry-section entry-basic">
        <div class="half-text">
            <h6 class="w-sub">Telephone</h6>
            <h5 class="subtitle">{{ unescapeString(post.telephone1) }}</h5>
        </div>
        <div class="half-buttons">
          <ion-button (click)="goCallNumber(post.telephone1)" class="icon-yellow" slot="icon-only"><fa-icon icon="phone"></fa-icon></ion-button>
          <ion-button (click)="goAddContact(post.telephone1, 'Telephone 1')" class="icon-yellow" slot="icon-only"><fa-icon icon="user-plus"></fa-icon></ion-button>
          <ion-button (click)="goShare(post.telephone1)" class="icon-yellow" slot="icon-only"><fa-icon icon="share-alt"></fa-icon></ion-button>
        </div>
      </div>
    </div>

    <div *ngIf="post.telephone2" class="ion-padding entry-parent entry-every-details">
      <div class="entry-section entry-basic">
        <div class="half-text">
            <h6 class="w-sub">Telephone</h6>
            <h5 class="subtitle">{{ unescapeString(post.telephone2) }}</h5>
        </div>
        <div class="half-buttons">
          <ion-button (click)="goCallNumber(post.telephone2)" class="icon-yellow" slot="icon-only"><fa-icon icon="phone"></fa-icon></ion-button>
          <ion-button (click)="goAddContact(post.telephone2, 'Telephone 2')" class="icon-yellow" slot="icon-only"><fa-icon icon="user-plus"></fa-icon></ion-button>
          <ion-button (click)="goShare(post.telephone2)" class="icon-yellow" slot="icon-only"><fa-icon icon="share-alt"></fa-icon></ion-button>
        </div>
      </div>
    </div>

    <div *ngIf="post.fax1" class="ion-padding entry-parent entry-every-details">
      <div class="entry-section entry-basic">
        <div class="half-text">
            <h6 class="w-sub">Fax</h6>
            <h5 class="subtitle">{{ unescapeString( post.fax1) }}</h5>
        </div>
        <div class="half-buttons">
          <ion-button (click)="goCallNumber(post.fax1)" class="icon-yellow" slot="icon-only"><fa-icon icon="phone"></fa-icon></ion-button>
          <ion-button (click)="goAddContact(post.fax1, 'Fax 1')" class="icon-yellow" slot="icon-only"><fa-icon icon="user-plus"></fa-icon></ion-button>
          <ion-button (click)="goShare(post.fax1)" class="icon-yellow" slot="icon-only"><fa-icon icon="share-alt"></fa-icon></ion-button>
        </div>
      </div>
    </div>

    <div *ngIf="post.fax2" class="ion-padding entry-parent entry-every-details">
      <div class="entry-section entry-basic">
        <div class="half-text">
            <h6 class="w-sub">Fax</h6>
            <h5 class="subtitle">{{ unescapeString(post.fax2) }}</h5>
        </div>
        <div class="half-buttons">
          <ion-button (click)="goCallNumber(post.fax2)" class="icon-yellow" slot="icon-only"><fa-icon icon="phone"></fa-icon></ion-button>
          <ion-button (click)="goAddContact(post.fax2, 'Fax 2')" class="icon-yellow" slot="icon-only"><fa-icon icon="user-plus"></fa-icon></ion-button>
          <ion-button (click)="goShare(post.fax2)" class="icon-yellow" slot="icon-only"><fa-icon icon="share-alt"></fa-icon></ion-button>
        </div>
      </div>
    </div>

    <div *ngIf="post.post_content" class="ion-padding entry-parent entry-every-details with-table">
      <div class="entry-section entry-basic">
        <h6 class="basic-title">Detailed Information</h6>
        <div [innerHtml]="post.post_content" class="content"></div>
      </div>
    </div>

    <div *ngFor="let ad of post.ads; let i = index;" class="ads ion-padding entry-parent entry-every-details">
      <div class="entry-section entry-basic entry-no-padding">
        <img [src]="trustUrl(ad.url.medium)" class="ad-img" (click)="viewImage(ad.url.medium)">
      </div>
    </div>
    
    <div *ngIf="post.opening_hours && post.opening_hours.length > 0" class="ion-padding entry-parent entry-every-details with-table">
        <div class="entry-section entry-basic">
          <h6 class="basic-title">Opening Hours</h6>
          <div>
            <ul class="opening-hours">
              <li *ngFor="let hour of post.opening_hours; let i = index;">
                <h5>{{ days[hour.day] }} 
                  <span *ngIf="hour.all_day == 1" class="ion-float-right">
                    All Day
                  </span>
                  <span *ngIf="hour.all_day == ''" class="ion-float-right">
                    {{ formatTime(hour.start) }} - {{ formatTime(hour.end) }}
                  </span>
                  <span *ngIf="hour.all_day == 'closed'" class="ion-float-right">
                    Closed
                  </span>
                  <span *ngIf="hour.all_day == 'appointment'" class="ion-float-right">
                    Appointment Only
                  </span>
                </h5>
              </li>
            </ul>
          </div>
        </div>
      </div>
  </div>

</ion-content>