.navigation {
    --min-height: 0;
    --background: #ffb12a;
    --padding-top: 0;
    --padding-bottom: 0;
    --padding-start: 16px;
    --padding-end: 16px;

    ion-title,
    ion-back-button,
    ion-button {
        min-height: 36px;
        font-weight: bold;
    }

    // .buttons-first-slot {
    //     width: 25%;
    // }

    ion-buttons {
        
        ion-back-button,
        ion-button {
            width: 100%;
            font-size: .8rem;
            text-transform: none;
            --color: #303030;
        }

        ion-back-button {
            --padding-start: 0;
            --icon-margin-end: 3px;
            --icon-font-size: 1rem;
            margin-left: 0 !important;
        }
    }
}

.map {
    height: 100%;
}

.firstHeading {
    margin-top: 0;
    font-size: 1.1rem;
}