<ion-header [translucent]="true">
  <ion-toolbar class="navigation">
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Close</ion-button>
      <!-- <ion-back-button [text]="'Back'" defaultHref="home">Back</ion-back-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="fetching" class="ion-padding">
      <ion-skeleton-text animated style="width: 100%; height: 100%; border-radius: 5px;"></ion-skeleton-text>
  </div>
  <div #mapElement class="map"></div>
</ion-content>
