.navigation {
    --min-height: 0;
    --background: #ffb12a;
    --padding-top: 0;
    --padding-bottom: 0;

    ion-title,
    ion-back-button,
    ion-button {
        min-height: 36px;
        font-weight: bold;
    }
    
    ion-title {
        width: 100%;
        font-size: 1rem;
    }

    .buttons-first-slot {
        width: 25%;
    }

    .buttons-last-slot {
        width: 25%;
    }

    ion-buttons {

        &.buttons-first-slot {
            border-right: 1px solid #e0981c;
        }

        &.buttons-last-slot {
            border-left: 1px solid #e0981c;
        }

        ion-back-button,
        ion-button {
            width: 100%;
            font-size: .8rem;
            text-transform: none;
            --color: #000;
        }

        ion-back-button {
            --icon-margin-end: 3px;
            --icon-font-size: 1rem;
            margin-left: 0 !important;
        }

        ion-button {
            margin-right: 0 !important;
        }
    }
}

ion-content {
    .list-labeling {
        font-size: .7rem;
        margin: 10px 0 10px;
        color: #969494;
        position: relative;

        span {
            display: inline-block;
            background: #f1f1f1;
            z-index: 2;
            position: relative;
            padding-right: 5px;
            
            &:nth-child(2) {
                background: #969494;
                width: 100%;
                position: absolute;
                height: .5px;
                z-index: 1;
                left: 0;
                top: 40%;
            }
        }
    }
    .entry-parent {

        .entry {

            & + .entry {
                
            }

            h6 {
            }

            .details {
                

                li {
                    
                }

                li + li {
                }
    
                fa-icon {
                }
            }

            .tags {

                fa-icon {

                    & + fa-icon {
                    }
                }
            }
        }
    }
}