<ion-header [translucent]="true">
  <app-header (doSearch)="goSearch($event)" (didBlur)="outSearchKey($event)"></app-header>
  <ion-toolbar class="navigation">
      <ion-buttons slot="start">
        <ion-back-button [text]="'Back'" defaultHref="home">Back</ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-center">{{ displaySearchKey }} &nbsp;&nbsp;<fa-icon icon="chevron-down" slot="start"></fa-icon></ion-title>
      <ion-buttons slot="end">
        <ion-button expand="full" (click)="showSortingAlert()"><fa-icon icon="sort-alpha-down" slot="start"></fa-icon>&nbsp;&nbsp;Sort</ion-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" style="background: #fff;">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="lines"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <!-- Loading State -->
  <div *ngIf="fetching" class="ion-padding entry-listings entry-parent">
    <div class="entry entry-basic"
      *ngFor="let item of createRange(9); let currentElementIndex = index;">
      <h6><ion-skeleton-text animated style="width: 100%; height: 15px;"></ion-skeleton-text></h6>
      <ul class="details">
        <li><ion-skeleton-text animated style="width: 60%;"></ion-skeleton-text></li>
        <li><ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text></li>
        <li><ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text></li>
      </ul>
    </div>
  </div>

  <div *ngIf="!fetching" class="ion-padding entry-listings entry-parent">
    <h6 class="list-labeling" *ngIf="categoriesService.getInnerCategories().length > 0">
      <span>CATEGORIES</span>
      <span></span>
    </h6>
    <div class="entry entry-basic" (click)="goCategoryDetails(cat.term_id, cat.name, cat.slug, cat.taxonomy, cat.post_type)"
      *ngFor="let cat of categoriesService.getInnerCategories(); let i = index;">
      <h6 [innerHtml]="limitString(cat.name, 100)"></h6>
    </div>

    <h6 class="list-labeling" *ngIf="categoriesService.getPosts().length > 0">
      <span>LISTING</span>
      <span></span>
    </h6>
    <div class="entry entry-basic" (click)="goDetails(post.ID, post.post_type)"
      *ngFor="let post of categoriesService.getPosts(); let i = index;">
      <h6>{{ post.post_title }}</h6>
      <ul class="details w-tag">
        <li *ngIf="post.telephone1 != ''"><fa-icon icon="phone" slot="start"></fa-icon> {{ post.telephone1 }}</li>
        <!-- <li><fa-icon icon="map-marker-alt" slot="start"></fa-icon> Maginhawa Street, Quezon City.</li> -->
        <li *ngIf="post.display_address != '' && (post.post_type != 'white_lists_dir_ltg' && post.term != 'Residential')">
          <fa-icon icon="map-marker-alt" slot="start"></fa-icon> [+] More Locations
        </li>
        <li *ngIf="post.featured_item.length > 0"><ion-badge color="medium">FEATURED</ion-badge></li>
      </ul>
      <div class="tags">
        <div *ngIf="post.has_distance" class="small">{{ post.calculated_miles}} mi</div>
        <fa-icon *ngIf="post.email1 != '' || post.email2 != ''" icon="envelope" slot="start"></fa-icon>
        <fa-icon *ngIf="post.website_url != ''" icon="globe" slot="start"></fa-icon>
        <fa-icon *ngIf="post.ads && post.ads.length > 0" icon="ad" slot="start"></fa-icon>
      </div>
    </div>

    <div *ngIf="categoriesService.getPosts().length < 1 && categoriesService.getInnerCategories().length < 1 && noSearchKey == false">
      <h4>No records of listing found.</h4>
    </div>

    <div *ngIf="noSearchKey">
      <h5>Type your keywords in the searchbar to continue.</h5>
    </div>
  </div>

  <ion-infinite-scroll *ngIf="currentPage != maxPage && !fetching && categoriesService.getPosts().length > 0"
    threshold="0px" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <!-- <div>
    <span class="count-display">{{ addCommas(categoriesService.getPosts().length) }} out of {{ addCommas(this.totalItems) }}</span>
    <ion-button (click)="loadMore()" class="loadmore" expand="full" fill="outline">
      <strong *ngIf="!loadingMore">Load More</strong>
      <ion-spinner *ngIf="loadingMore" name="dots"></ion-spinner>
    </ion-button>
  </div> -->
  
</ion-content>

<ion-footer>
  <app-footer 
    (doFilter)="goFilter($event)"></app-footer>
</ion-footer>