<ion-toolbar>
  <ion-grid class="segments ion-padding">
    <ion-row>
      <ion-col size="4" class="ion-text-end">
        <ion-button (click)="selectMainFilter('listings_dir_cat', 'listings_dir_ltg')" 
          [ngClass]="mainFilter == 'listings_dir_cat' ? 'selected' : ''"
          [disabled]="!_fetchDone">Yellow</ion-button>
      </ion-col>
      <ion-col size="4" class="ion-text-center">
        <ion-button (click)="selectMainFilter('white_lists_dir_cat', 'white_lists_dir_ltg')" 
          [ngClass]="mainFilter == 'white_lists_dir_cat' ? 'selected' : ''"
          [disabled]="!_fetchDone">White</ion-button>
      </ion-col>
      <ion-col size="4" class="ion-text-start">
        <ion-button (click)="selectMainFilter('gov_lists_dir_cat', 'gov_lists_dir_ltg')" 
          [ngClass]="mainFilter == 'gov_lists_dir_cat' ? 'selected' : ''"
          [disabled]="!_fetchDone">Government</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-toolbar>