/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
$font-family-base: "Roboto", sans-serif !default;

ion-app {
    
    /**
        HEADER PROPERTIES
    **/
    ion-header {
        ion-toolbar {
            --background: #ffc52a;

            .logo-x {
                display: inline-block;
                width: 100%;
            }
    
            .logo-y {
                display: inline-block;
                width: 100%;

                & + span {
                    font-size: 13px;
                    margin-left: 8px;
                }
            }

            .actions-bar {
                .search-input {
                    --background: #fff;
                    --padding-top: 12px;
                    --padding-bottom: 12px;
                    --padding-start: 12px;
                    --padding-end: 12px;
    
                    min-width: 180px;
                    display: inline-block;
                    text-align: left;
                    font-size: 14px;
                    border-radius: 5px;
        
                    @media screen and (max-width: 360px){
                        width: 65%;
                    }
                    
                    width: 70%;
                }

                ion-button {
                    --background: #303030;
                    --border-radius: 5px;
                    --padding-end: 9px;
                    --padding-start: 9px;
                    --color: #ffc52a;

                    
                    vertical-align: middle;
                    margin-top: 0;
                    margin-bottom: 0;
                    display: inline-block;
                    height: 39px;
                    margin-left: 2%;
                    margin-right: 0;
                }
            }
        }
    }

    &.portrait {
        ion-header {
            ion-toolbar {
        
                .logo-x {
                    max-width: 110px;
                }
        
                .logo-y {
                    top:14px;
                    position: relative;
                    max-width: 115px;
                }
        
                .actions-bar {
                    ion-col {
                        text-align: center;
                    }
                }
            }
        }
    }

    &.landscape {
        ion-header {
            ion-toolbar {
                @media screen and (max-width: 767px){
                    --min-height: 0px;
                }

                ion-grid {
                    padding-top: 0 !important;
                    padding-bottom: 0 !important;
                }

                ion-col {
                    --padding-top: 0;
                    --padding-bottom: 0;
                }
        
                .logo-x {
                    position: relative;
                    max-width: 73px;
                    margin-right: 10px;

                    @media screen and (max-width: 767px){
                        max-width: 53px;
                        top:2px;
                    }
                    
                }
        
                .logo-y {
                    top:-2px;
                    position: relative;
                    max-width: 115px;

                    @media screen and (max-width: 767px){
                        max-width: 95px;
                        top:2px;
                    }

                    & + span {
                        top: -7px;
                        position: relative;
                    }
                }

                .actions-bar {
                    text-align: right;

                    .search-input {
                        @media screen and (max-width: 767px){
                            --padding-top: 8px;
                            --padding-bottom: 8px;
                            --padding-start: 8px;
                            --padding-end: 8px;
                            font-size: .8rem;
                        }
                    }

                    ion-button {
                        @media screen and (max-width: 767px){
                            font-size: .6rem;
                            height: 30px;
                        }
                    }
                }
            }
        }
    }

    /**
        FOOTER PROPERTIES
    **/
    ion-footer {

        &::before {
            display: none;
        }

        ion-toolbar {
            --background: #fff;
    
            .segments {
                background: #fff;
                font-size: 1rem;
                --ion-padding: 9px;
            
                ion-segment-button {
                    @media screen and (max-width: 480px){
                        font-size: .6rem;
                    }
                
                    --indicator-color: transparent;
                    --background-checked: #ffc52a;
                    --color-checked: #000;
                    --indicator-color: #ffc52a;
                    --indicator-box-shadow: none;
                
                    border-radius: 10px;
                    background: #f1f1f1;
                    margin: 7px;
                    font-size: 1rem;
                
                    ion-label {
                        margin: 0;
                    }
                }
            
                ion-col {
                    padding-top: 0;
                    padding-bottom: 0;
                }
            
                ion-button {
                    @media screen and (max-width: 480px){
                        font-size: .8rem;
                    }
    
                    --background: #f1f1f1;
                    --border-radius: 10px;
                    --background-activated-opacity: 1;
                    --background-activated: #ffc52a;
                    --color-activated: #000;
                    --color: #000;
                
                    text-transform: none;
                    min-width: 80px;
                    margin-top: 0;
                    margin-bottom: 0;
                    box-shadow: none;
                    border: 0;
                    width: 100%;
                    max-width: 100px;
    
                    &.selected {
                        --background: #ffc52a;
                        --color: #000;
                    }
                }
            }
    
           
        }
    }

    &.portrait {
    
    }

    &.landscape {
        ion-footer {

            ion-toolbar {
                .segments {
                    --ion-padding: 5px;

                    ion-button {
                        @media screen and (max-width: 568px){
                            font-size: .8rem;
                        }
                    }
                }
            }
        }
    }

    ion-content {
        --background: #f1f1f1;
        
        #container strong {
            font-size: 20px;
            line-height: 26px;
        }
        
        #container p {
            font-size: 16px;
            line-height: 22px;
            
            color: #8c8c8c;
            
            margin: 0;
        }
        
        #container a {
            text-decoration: none;
        }

        .entry-parent {
            background: #f1f1f1;

            .entry-basic {
                color: #303030;
                font-size: .9rem;
                border-radius: 5px;
                padding: 10px 15px;
                background: #fff;
                position: relative;

                &.entry-larger-pad {
                    padding: 13px 15px;
                }
    
                & + .entry {
                    margin-top: 10px;
                }
    
                h6 {
                    font-size: .95rem;
                    margin-top: 0;
                    margin-bottom: 8px;

                    &.w-sub {
                        margin-bottom: 0;
                    }
                }

                .subtitle {
                    font-size: .8rem;
                    font-weight: light;
                    margin-top: 3px;
                    margin-bottom: 8px;
                    color: #787878;
                }
    
                .details {
                    margin: 0;
                    padding-left: 0;
                    list-style-type: none;
                    font-size: .82rem;
                    display: block;
                    
                    &.w-tag {
                        width: 70%;
                    }
    
                    li {
                        padding-left: 22px;
                        position: relative;
                    }
    
                    li + li {
                        margin-top: 7px;
                    }
        
                    fa-icon {
                        color: #ffb12a;
                        width: 15px;
                        position: absolute;
                        left: 3px;
                    }

                    ion-badge {
                        font-size: .6rem;
                        line-height: 1;
                        letter-spacing: 1px;
                        padding: 3px;
                    }
                }
    
                .tags {
                    width: 20%;
                    position: absolute;
                    right: 15px;
                    bottom: 10px;
                    text-align: right;
    
                    fa-icon {
                        width: 15px;
                        margin-top: 5px;
    
                        & + fa-icon {
                            margin-left: 8px;
                        }
                    }
                }

                .half-text {
                    width: 50%;
                }

                .half-buttons {
                    width: 50%;
                    position: absolute;
                    right: 15px;
                    top: 10px;
                    text-align: right;
                }
            }

            .entry-section {
                &.entry-no-padding {
                    padding: 0;
                }

                .basic-title {
                    font-size: 1rem;
                    border-bottom: 1px solid #e5e5e5;
                    padding-bottom: 8px;
                }

                .opening-hours {
                    padding-left: 0;

                    li {
                        list-style-type: none;
                        padding-bottom: 5px;
                        border-bottom: 1px solid #adadad;

                        h5 {
                            font-size: .8rem;
                            font-weight: bold;
                            margin-bottom: 0;

                            span {
                                font-weight: normal;
                            }
                        }
                    }
                }
            }
        }
    }
}

/**
Misc
*/
.loadmore {
    --color: #ffc52a;
    margin: 0;
    --border-width: 0;
    background: #292929;
}

.count-display {
    font-size: 0.6rem;
    text-align: center;
    display: block;
    margin-bottom: 5px;
    color: #ff8100;
}

/**
    Button Icons
**/
.icon-yellow {
    --background: #ffc52a;	
    --color: #303030;

    font-size: .85rem;

    fa-icon {
        //width: 12px;
    }
}

body {
    min-width: 320px;
    background: #f1f1f1;
}