
ion-content ion-toolbar {
  --background: translucent;
}

.categories-list {
  --ion-padding: 10px;

  --ion-grid-width-sm: 500px;

  --ion-grid-column-padding:     10px;

  ion-col {
    // @media screen and (max-width: 360px){
    //   --ion-grid-column-padding: 5px;
    // }

  }

  span {
    display: block;
    padding: 16px 10px;
    background: #ffc52a;
    border-radius: 10px;
    text-align: center;
  }

  ion-img {
    max-width: 80%;
    min-height: 80%;
    width: auto;
    height: auto;
    display: block;
    margin: auto;
  }

  fa-icon {
    font-size: 3.5rem;
    line-height: 1;
  }

  h5 {
    font-size: 14px;
    line-height: 1;
    margin: 8px 0 2px 0;
    text-align: center;
  }
}

ion-thumbnail {
  ion-skeleton-text {
    height: 50px;
    width: 50px;
  }
}

.ads-img {
  width: 100%;
}