
<ion-header [translucent]="true">
  <app-header (didFocus)="goSearch($event)" (audioClicked)="audioClicked($event)"></app-header>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" style="background: #fff;">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="lines"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <div id="container">
    <ion-grid class="categories-list ion-padding" fixed="true">

      <!-- Loading State -->
      <ion-row *ngIf="fetching">
        <!-- <ion-col size-xs="4" size-sm="3" 
          *ngFor="let item of createRange(12); let currentElementIndex = index;">
          <ion-skeleton-text animated style="width: 100%; height: 100px;"></ion-skeleton-text>
          <h5>
            <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 60%;"></ion-skeleton-text>
          </h5>
        </ion-col> -->
        <ion-col size-xs="12" *ngFor="let item of createRange(3); let currentElementIndex = index;">
          <ion-skeleton-text animated style="width: 100%; height: 200px;"></ion-skeleton-text>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="!fetching">
        <ion-col size="6" size-sm="4" *ngFor="let ad of ads; let i = index;" (click)="addClicked(ad)">
          <img [src]="sanitizer.bypassSecurityTrustUrl(ad.ad_image)" [alt]="ad.post_title" class="ads-img">
        </ion-col>
      </ion-row>

      <!-- <ion-row *ngIf="!fetching">
        <ion-col size-xs="4" size-sm="3" *ngFor="let category of categoriesService.getCategories(); let i = index;" (click)="itemClicked(category.term_id, category.name, category.slug, category.taxonomy, category.post_type)">
          <span>
            <fa-icon *ngIf="category.term_icon != '' || category.term_icon != null; else noIcon" icon="map-marker-alt"></fa-icon>
            <ng-template #noIcon>
              <fa-icon icon="{{ category.term_icon }}"></fa-icon>
            </ng-template>
          </span>
          <h5 [innerHtml]="limitString(category.name, 40)"></h5>
        </ion-col>
        <ion-col size-xs="12" *ngIf="categoriesService.getCategories().length < 1">
          <h4>No records of listing found.</h4>
        </ion-col>
      </ion-row> -->
      
    </ion-grid>
  </div>

  
  <div *ngIf="currentPage != maxPage && !fetching">
      <span class="count-display">{{ addCommas(categoriesService.getCategories().length) }} out of {{ addCommas(this.totalItems) }}</span>
    <ion-button (click)="loadMore()" class="loadmore" expand="full" fill="outline">
      <strong *ngIf="!loadingMore">Load More</strong>
      <ion-spinner *ngIf="loadingMore" name="dots"></ion-spinner>
    </ion-button>
  </div>

</ion-content>

<ion-footer>
  <app-footer 
    (doFilter)="goFilter($event)"></app-footer>
</ion-footer>
